@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color1: #f6eddc;
    --color2: #e3e5d7;
    --color3: #bdd6d2;
    --color4: #a5c8ca;
    --color5: #586875;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #586875;
    color: #f6eddc;
    padding: 20px;
    text-align: center;
}

a {
    color: #f6eddc;
    text-decoration: none;
    padding: 5px;  
  }

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}
nav{
    transition: 0.5s ease-in-out;
}
.openMobileMenu {
    display: flex !important;
    width: 100vw !important;
}
@media (max-width: 575px) {
    .mobileOpenbt{
        display: block !important;
    }
    nav{
        overflow: hidden;
        position: fixed;
        width: 0vw !important;
    }
  }

.navIcon {
    margin: auto;
    background: none;
    border: none;
    width: 5rem;
    height: 5rem;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateIconRev {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.articleContainer{
    width: 100%;
    overflow-y: scroll;
}

.rotateIcon {
    animation: rotateIcon 0.5s ease-in-out forwards;
}

.rotateIconRev {
    animation: rotateIconRev 0.5s ease-in-out forwards;
}

#navList {
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown-bt {
    outline: none;
    border: none;
    background: var(--color3);
}

.homeLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color5);
    font-weight: 800;
    text-decoration: none;
    color: var(--color1);
}

.dropList {
    list-style-type: none;
    padding: 0;
}

.underDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    width: 100%;
    transition: 0.5s ease-in;
    background-color: var(--color5);
    overflow: hidden;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.navLink {
    text-decoration: none;
    color: black;
}

.bg-custom {
    background-color: var(--color3);
}

.mobileOpenbt {
    display: none;
    outline: none;
    border: none;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}
#searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border: solid 1pt var(--color5);
    border-bottom-right-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
}
#searchInputId1{
    min-width: 2rem;
    width: 10rem;
    background-color: none;
    height: 2rem;
    border: solid 1pt var(--color5);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: none;
    outline: none;
}